/* Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');

body { 
    margin: 0; 
    padding: 0; 
    justify-content: center;
    align-items: center; 
    font-family: 'Poppins', sans-serif;
}
/* Gömmer scrollbaren */
.mainContainer::-webkit-scrollbar {
    display: none; 
}
html {
    scrollbar-width: none; 
    -webkit-scrollbar-width: none;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
    cursor: pointer;
}

/* huvud kontainer */
.mainContainer {
    margin: 0; 
    padding: 0; 
    height: 100vh; 
    width: 100vw;
    display: grid; 
    grid-template-columns: 1;
    grid-template-rows: 100vh auto;
    grid-gap: 0px 0px; 
    overflow: auto; 
}
/* Gömmer scrollbar för huvudkontainern */
.mainContainer::-webkit-scrollbar-width { 
    display: none; 
}
/* Kontainer för startbilden */
.banner { 
    grid-row: 1;
    grid-column: 1; 
    height: 100vh; 
    width: 100vw;
    background-image: url("./images/bakgrund.jpg"); 
    background-size: cover; 
}
/* Filter för startbilden med toning */
.banner_overlay {
    height: 100%;
    width: 100%; 
    background-color: rgba(0,0,0,0.5); 
    display: flex; 
    justify-content: center;
    align-items: center;
    position: relative; 
}
/* kontainer för rubrikerna */
.headline_wrapper {
    height: auto; 
    width: auto; 
    display: flex; 
    flex-direction: column;
    text-align: center;
    position: relative;
    margin-top: -50px;
}
/* Titel / rubrik */
.headline {
    font-size: 6em; 
    font-family: 'Lobster', cursive;
    color: rgba(255,255,255,1); 
} 
/* underubrik */
.sub_headline {
    font-size: 3em; 
    color: rgba(255,255,255,0.8); 
    margin-top: -1.8em; 
}
/* Pilen */
.fa-solid {
    color: rgba(255,255,255,0.9); 
    font-size: 5em; 
    position: absolute; 
    top: 85%; 
    left: 47%; 
    transform: translate(-50%, -50%);  
}

/* --------- kontainer för kategorierna --------- */
.CategoriesContainer { 
    grid-row: 2;
    grid-column: 1; 
    height: 100vh; 
    width: 100vw;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    background-image: url("./images/pizza.jpg");
    background-size: cover;

}
/* kontainer för knappen */
.buttonContainer {  
    height: 10vh; 
    width: 400px; 
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.8); 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 10px;
}
.button {   
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}
.button select{
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    border-left: none;
    border-right: none;
    border-bottom: none;
}



/* restauranglista */
.restaurantsList { 
    height: 10%;
    width: 100%; 
    overflow: auto; 
}

/* slumpad restaurang kontainer */
.foodResult {  
    height: 60vh; 
    width: 90vw; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,0.8); 
    border-radius: 5px;
}
/* slumpad restaurang */
.foodContainer {  
    width: 300px; 
    height: 200px; 
    background-color: lightgray; 
}

.food-category {
  color: rgb(0, 94, 170);
  background-color: rgb(121, 168, 255);
  padding: 10px;
  border-radius: 50px;
  display: inline-block;
}

.food-location {
  color: rgb(0, 94, 170);
  background-color: rgb(121, 168, 255);
  padding: 10px;
  border-radius: 50px;
  display: inline-block;
}



#randomize {
    padding: 1em;    
}